.empty-cart {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  p {
    width: fit-content;
  }
  h2 {
    width: 800px;
    text-align: center;
    font-size: 5rem;
    span {
      font-weight: bold;
      font-size: 6rem;
    }
  }
}

.cartDetail {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  .gamesDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 700px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    .game-img {
      position: relative;
      img {
        width: 400px;
        height: 250px;
      }
      p {
        position: absolute;
        top: 80%;
        left: 87%;
        width: 40px;
        text-align: center;
      }
    }
    .game {
      display: flex;
      flex-direction: row;
      gap: 10px;
      &-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        width: 400px;
        h3 {
          width: 280px;
        }
      }
    }
  }
  .total-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-btn{
      width: fit-content;
    }
  }
  &-total {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    p {
      width: 350px;
    }
    .cart-list {
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-height: 400px;
      overflow-y: auto;
      &-items {
        display: flex;
        flex-direction: row;
        gap: 10px;
        text-align: start;
        &-title {
          width: 200px;
        }
        &-body {
          width: 100px;
        }
        &-quantity {
          width: 30px;
        }
      }
    }
    .btn-total {
      display: flex;
      gap: 10px;
      input {
        border: none;
      }
    }
  }
}

.cart-modifier {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  height: fit-content;
  input {
    box-shadow: none;
    outline: none;
    border: none;
    width: 40px;
  }
  img {
    transition: all 1s;
    &:hover {
      scale: 1.1;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
