.checkout{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &-games{
        display: flex;
        gap: 10px;
        flex-direction: column;
        max-height: 600px;
        overflow-y: auto;
        .games-repeat{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    &-game{
        width: 800px;
        display: grid;
        grid-template-columns: 110px 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img{
            width: 100px;
            height: 50px;
        }
        p{
            justify-content: start;
        }
    }
}