$blanco: #f2e9e4;
$negro: #272825;
$negroFuente: #242423;
$blancoTrasnlucido: #f2e9e4b9;
$blancoBorde: #f2e9e42d;
$negroTranslucido: #2728255a;
$violeta: #6d597a;
$azul: #355070;
$rojo1: #b56576;
$rojo2: #e56b6f;
$amarillo: #ffb703;
