@use "./colores" as *;

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 275px 1fr 275px;
  &__titulo {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    h2 {
      font-size: 3.5rem;
      color: $blanco;
    }
    a {
      font-size: 2.5rem;
      color: $blanco;
      &:hover {
        color: $amarillo;
      }
    }
  }
  &__fondo {
    grid-column: 1/4;
    grid-row: 3/4;
    background: linear-gradient(to bottom, #f8503200 0%, #272825 100%);
  }
}
