@use "./colores" as *;

.itemDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh;
  background-color: $negroTranslucido;
  backdrop-filter: blur(15px);
  z-index: 10;
  &__info {
    grid-column: 2/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
      display: flex;
      justify-content: center;
      img {
        height: 450px;
        width: 800px;
        border-radius: 10px;
        margin-top: 12%;
      }
    }
    &__item {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      .titulo {
        width: 450px;
        display: flex;
        justify-content: flex-start;
        h2 {
          font-size: 4rem;
          color: $blanco;
        }
      }
      .precio {
        width: 350px;
        display: flex;
        justify-content: flex-end;
        h3 {
          font-size: 5rem;
          color: $blanco;
        }
      }
    }
    &__catg {
      width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $negroTranslucido;
      backdrop-filter: blur(20px);
      border-radius: 10px;
      p {
        color: $blanco;
        font-size: 2rem;
      }
    }
  }
}

.itemCount {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2%;
  &__quantity {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    p {
      font-size: 2rem;
      color: $blanco;
    }
    input {
      width: 30px;
      height: 30px;
      font-size: 2rem;
    }
  }
  &__complete {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    .cart {
      width: 50px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
