@use "./colores" as *;

.itemDetail {
  font-size: 5rem;
  color: $blanco;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 1fr 39px;
  &__card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    grid-column: 3/4;
    grid-row: 2/3;
    width: 400px;
    height: 600px;
    background-color: #27282554;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    border-color: $blancoBorde;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.75);
    h1 {
      font-size: 3.8rem;
      margin-top: 1%;
      text-align: center;
    }
    &__categorias {
      font-size: 1.8rem;
      text-align: center;
    }
    &__desc {
      font-size: 1.4rem;
      text-align: center;
      margin-left: 1%;
      margin-right: 1%;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 3.5rem;
      color: $amarillo;
    }
    &__logo {
      width: 250px;
      height: 180px;
    }
    &__btn {
      display: flex;
      gap: 5px;
    }
  }
}

.itemCount {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__quantity {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    p {
      font-size: 2rem;
      color: $blanco;
    }
    input {
      width: 30px;
      height: 30px;
      font-size: 2rem;
    }
  }
  &__complete {
    display: flex;
    gap: 5px;
  }
}
