@use "./colores" as *;

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 70px;
  background-color: $negroTranslucido;
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 19px -1px rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  margin-right: 3%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: fixed;
  min-width: 95%;
  z-index: 100;
  top: 0;
  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    background-color: #fbfbfb;
    margin-right: 30%;
    gap: 5px;
    font-size: 3rem;
    color: #0f2425;
    img {
      width: 80px;
      height: 70px;
      padding-left: 2%;
    }
    h1 {
      margin-top: 2%;
      span {
        color: $amarillo;
        font-size: 2rem;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    a {
      margin-left: 1%;
      color: $negroFuente;
      font-size: 1.8rem;
      text-decoration: none;
      transition: all 1s;
      &:hover {
        color: $amarillo;
      }
    }
    #barraBus {
      width: 60%;
      height: 60%;
      font-size: 1.5rem;
      border-radius: 4px;
      transition: all 1s;
      background-color: $blanco;
      outline: none;
      border-style: none;
      padding-left: 2%;
      &::placeholder {
        color: $negroTranslucido;
        padding-left: 4%;
        background-image: url("../img/search.svg");
        background-repeat: no-repeat;
      }
      &:focus {
        box-shadow: 0px 0px 12px 5px $violeta;
        background: linear-gradient(
          to right,
          #845f9c 0%,
          #6d597a 26%,
          #523566 100%
        );
        border-style: solid;
        border-width: thin;
        border-color: $blancoTrasnlucido;
        color: $blanco;
        &::placeholder {
          color: $blancoTrasnlucido;
        }
      }
    }
  }
  &__cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
  }
}
